<h2>Skills List</h2>
<div>
    <button class="add-skill" mat-raised-button color="primary" [routerLink]="['form','']">
        Add Skill
    </button>
</div>
<section>
    <div class="skill-row">
        <div class="skill-header">Skill ID</div>
        <div class="skill-header">Skill Name</div>
    </div>
    <div class="skill-row" *ngFor="let skill of skills">
        <div class="skill-content">{{skill.id}}</div>
        <div class="skill-content">{{skill.skillName}}</div>
        <div class="button-container">
            <button mat-mini-fab color="warn" aria-label="delete icon" (click)="deleteSkill(skill.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <div class="button-container">
            <button mat-mini-fab color="accent" aria-label="edit icon" [routerLink]="['form',skill.id]">
                <mat-icon>mode_edit</mat-icon>
            </button>
        </div>
    </div>
</section>